.categories {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	gap: 20px;
}

.categories--genres {
	gap: 10px;
}

@media (max-width: 650px) {
	.categories:not(.categories--genres) {
		flex-direction: column;
	}
}