html {
	font-size: 16px;
}

body {
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	display: flex;
}

.main {
	width: 70%;
	padding: 40px 100px;
}

.section {
    margin: 20px 0;
}

.section-title {
	font-weight: bold;
	font-size: 1.1rem;
}

@media (max-width: 850px) {
	.main {
		padding: 40px 60px;
		width: 60%;
	}
}

@media (max-width: 650px) {
	.wrapper {
		flex-direction: column-reverse;
		position: relative;
		padding-bottom: 50px;
	}
	.main {
		width: 100%;
		margin-bottom: 100px;
	}
}

@media (max-width: 500px) {
	.main {
		padding: 40px;
	}
}