@media (max-width: 950px) {
	.sidebar__row,
	.sidebar__buttons {
		flex-direction: column;
	}
	#id, .select-wrapper,
	.sidebar__buttons button {
		width: 100%;
	}
}

@media (max-width: 910px) {
	.inputs-line {
		flex-direction: column;
		gap: 10px;
		background: #f2f2f2;
		padding: 10px;
		border-radius: 10px;
	}
	.inputs-line input {
		background-color: #fff;
	}
	.add-line-btn {
		left: 240px;
		bottom: 10px;
	}
}

@media (max-width: 850px) {
	.main {
		padding: 40px 60px;
		width: 60%;
	}
	.sidebar {
		width: 40%;
	}
}

@media (max-width: 650px) {
	.wrapper {
		flex-direction: column-reverse;
		position: relative;
		padding-bottom: 50px;
	}
	.main, .sidebar {
		width: 100%;
	}
	.categories:not(.categories--genres) {
		flex-direction: column;
	}
	.sidebar__row {
		flex-direction: row;
	}
	.sidebar__buttons {
		position: absolute;
		top: initial;
		bottom: 0;
		left: 0;
		flex-direction: row;
		justify-content: center;
		background-color: #f2f2f2;
		padding: 20px;
		gap: 20px;
		width: 100%;
	}
	.sidebar__buttons button {
		width: calc(100% / 4);
	}
	.multiple-lines {
		flex-direction: column;
		padding-bottom: 60px;
	}
	.input-wrapper {
		width: 100%;
	}
	.input-wrapper input {
		width: 100%;
	}
	.input-wrapper input[type="number"] {
		width: 100%;
	}
	.inputs-line {
		width: 100%;
	}
	.add-line-btn {
		left: 0;
		bottom: 0;
		width: 100%;
	}
}
@media (max-width: 500px) {
	.main {
		padding: 40px;
	}
	.film-title:before {
		display: none;
	}
}